<div class="banner" style="background-image: linear-gradient(179deg, rgb(0 0 0),rgb(0 0 0 / 0%), #000000c4)
, url(https://spaceflightnow.com/wp-content/uploads/2022/08/20220831starlink34.jpg);">
  <div class="container" style="font-famiy: Orbitron">
    <h1>AstroRide</h1>
    <p style="font-family: Orbitron;" data-controller="typed"></p>
  </div>
</div>
