<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(https://media.istockphoto.com/id/1300424928/video/4k-animation-loop-futuristic-sci-fi-lines-white-neon-tube-lights-glowing-in-concrete-floor.jpg?s=640x640&k=20&c=V4DGNH8p0GktA3l926hjx4Zcx079F7pvWrYJ_xMO8HE=);">
  <div class="container">
    <h1>ASTRO RIDE<strong></h1>
    <p>Launch your dreams with AstroRide: Where Spaceships Become Yours</p>
  </div>
</div>
