<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0)), url(https://spaceflightnow.com/wp-content/uploads/2022/08/20220831starlink34.jpg);">
  <div class="container" style="font-family: Orbitron;">
    <h1>AstroRide</h1>
    <p>Where Spaceships Become Yours</p>
  </div>
</div>
