<header>
    <img alt="Cursor Pointer" src="https://static.wixstatic.com/media/2d89eb_a03d7aa4ef1b476f95b0d4fed00ff1dc~mv2.png/v1/fill/w_260,h_239/PT-logo.png">

  </header>

  <div id="cursor"><img alt="Cursor Hand" src="https://static.wixstatic.com/media/2d89eb_f05aaa37b2a64ca2a607b0a903d8ad30~mv2.png/v1/fill/w_68,h_106/rocket-cursor.png"></div>

