<div class ="container-category">
<div class="cards-category">
  <div class="secondcard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?nasa)">
    Economy
  </div>

  <div class="secondcard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?space,rocket)">
    Premium
  </div>

  <div class="secondcard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?space,flight)">
    Luxury
  </div>
</div>
</div>
