.banner {
  background-size: auto;
  background-position: bottom;
  padding: 30px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
}

.banner p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-family: 'Orbitron', sans-serif;

}
