.container-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  border: 1pc;
}

.cards-category {display: flex;
justify-content: center;
gap: 16px;
}


.secondcard-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  color: rgb(255, 255, 255);
  padding: 15px;
  justify-items: normal;
  width: 100px;
  border: 1px solid rgb(191, 191, 191);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.secondcard-category:hover {
  background: #4D04C4;
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .secondcard-category {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .secondcard-category {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .secondcard-category {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .secondcard-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .secondcard-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
