.navbar-lewagon {
  justify-content: space-between;
  background: #000000;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.nav-link {
  color: white!important;
  padding: 0px 5px!important;
  margin: 5px 5px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.navbar-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

