@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
$accent: #9042f7;
$accentHover: #8b12ee;
$white: #FAFAFA;
$duration: 0.5s;
$ease: cubic-bezier(0.68, 0.15, 0.31, 1.05);
$f-cta--large: 12px;

body-nutton {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items:center;
}

.button-upload {
  font-family:"Montserrat";
	background-color: $accent;
	box-shadow: 0px 0px 16px $accent;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	color: $white;
	flex-direction: column;
	border: none;
	padding: initial;
	transition: all $duration $ease;
  margin: 8px;


	&:hover {
		cursor: pointer;
		background-color: $accentHover;
		.button-upload__logo--complete {
			animation: rocketAnimation 2s $ease forwards;
		}
	}

	&__logo {
		width: 4.2rem;
	}
	&__text {
		font-size: $f-cta--large;
		font-weight: 600;
		display: block;
		margin-top: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 1px;
 	}

	@keyframes rocketAnimation {
		0% {
			transform: rotate(49deg 18px 17px);
		}
		25% {
			transform: rotate(0deg) translateX(6px);
		}
		50% {
			transform: translateY(-45px) translateX(6px);
		}
		60% {
			transform: translateY(30px) translateX(6px);
		}
		70% {
			opacity: 0;
		}
		90% {
			transform: translateY(0px) translateX(6px);
			opacity: 1;
		}
		100% {
			transform: rotate(49deg 18px 17px);
		}
	}
}
